@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --animate-arrow: left-right 1s ease-in-out infinite;

  @keyframes left-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

body {
  font-family: "Roboto", sans-serif;
}
